<!-- begin c-hero -->
<div class="hero">
  <div class="container">
    <div class="row">
      <div class="hero__image">
          <img class="hero__image" src="{{site.baseurl}}/assets/img/{{ site.data.settings.author.image }}" alt="PhotoOfMe">
      </div>
    <div class="row">
      <div class="col col-6 col-t-12 last-item">
        <div class="hero__content">
          <h1 class="hero__title">{{ site.data.settings.author.say-hello }}</h1>
          <p class="hero__subtitle">{{ site.data.settings.author.bio }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end hero -->
