<!-- begin projects -->
<div class="row">

  <h1>Pubblications</h1>
  <h3>[2020]</h3>

  <p> <em>Multiple sensors data fusion for positioning of high performance vehicles</em>, Colombo A., M.Sc. Thesis 2020 </p>

  <h1>Projects</h1>

  <p><em><a href="/assets/pdfs/Report_PACS.pdf">Generalized Spatial Regression with PDE penalization (GSR-PDE)</a></em>, Colombo, A, Perin, G<br> Extention of the  <a href="https://cran.r-project.org/web/packages/fdaPDE/index.html">fdaPDE</a> library to non-gaussian data. (<a href="https://github.com/fdaPDE/fdaPDE">GitHub repo</a>)</p>

</div>
<!-- end projects -->
